Repository Anonymous-Voting-App/Anonymous-Voting-App, pull requests merged in 2022-10, with the labels that each got.

#63 Fix issues caused by new CI config
  .github/workflows/pull_request_ci.yml
  .github/workflows/staging_ci.yml
  backend/README.md
  frontend/package.json
Labels: infra, backend, frontend

#86 Modify GitHub Actions
  .github/workflows/pull_request_ci.yml
  .github/workflows/staging_ci.yml
Labels: infra, backend

#99 Infrastructure as Code
  infra/.gitignore
  infra/README.md
  infra/backend/.terraform.lock.hcl
  infra/backend/README.md
  infra/backend/autoscale-perf.tf
  infra/backend/cloudwatch.tf
  infra/backend/data.tf
  infra/backend/ecs.tf
  infra/backend/iam.tf
  infra/backend/loadbalancer-https.tf
  infra/backend/loadbalancer.tf
  infra/backend/main.tf
  infra/backend/outputs.tf
  infra/backend/s3.tf
  infra/backend/secretmanager.tf
  infra/backend/securitygroup.tf
  infra/backend/variables.tf
  infra/ecr/.terraform.lock.hcl
  infra/ecr/README.md
  infra/ecr/ecr.tf
  infra/ecr/iam.tf
  infra/ecr/main.tf
  infra/ecr/outputs.tf
  infra/ecr/variables.tf
  infra/frontend/.terraform.lock.hcl
  infra/frontend/README.md
  infra/frontend/cloudfront.tf
  infra/frontend/iam.tf
  infra/frontend/main.tf
  infra/frontend/outputs.tf
  infra/frontend/s3.tf
  infra/frontend/variables.tf
Labels: infra

#102 Add React Router
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.tsx
Labels: frontend
