Repository Anonymous-Voting-App/Anonymous-Voting-App, pull requests merged in 2022-11, with the labels that each got.

#108 100 add hamburger menu and sidebar
  frontend/src/components/App.scss
  frontend/src/components/App.tsx
  frontend/src/components/NavBar.scss
  frontend/src/components/NavBar.tsx
  frontend/src/components/Sidebar.scss
  frontend/src/components/Sidebar.test.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/styles/_colors.scss
Labels: frontend

#109 38 poll result
  frontend/public/data.json
  frontend/public/data_formatted.json
  frontend/public/data_formatted_demo.json
  frontend/public/dummyApi.json
  frontend/src/components/AdminView.tsx
  frontend/src/components/App.tsx
  frontend/src/components/NavBar.scss
  frontend/src/components/PollCreation.scss
  frontend/src/components/PollResult.scss
  frontend/src/components/PollResult.tsx
  frontend/src/components/ResultCard.scss
  frontend/src/components/ResultCard.tsx
  frontend/src/components/ResultOption.scss
  frontend/src/components/ResultOption.tsx
  frontend/src/components/constants.tsx
  frontend/src/services/pollService.ts
  frontend/src/utils/types.ts
Labels: frontend

#115 Remove unnecessary `Type` table
  backend/prisma/migrations/20221104174451_remove_type/migration.sql
  backend/prisma/schema.prisma
  backend/src/models/IMultiQuestion.ts
  backend/src/models/IQuestion.ts
  backend/src/models/MultiQuestion.test.ts
  backend/src/models/MultiQuestion.ts
  backend/src/models/MultiQuestionCollection.test.ts
  backend/src/models/Poll.test.ts
  backend/src/models/Poll.ts
  backend/src/models/Question.test.ts
  backend/src/models/Question.ts
  backend/src/models/QuestionCollection.test.ts
  backend/src/routes/v1/poll.test.ts
  backend/src/services/UserManager.ts
  backend/src/services/VotingService.ts
  backend/src/utils/populate-db.ts
Labels: backend

#124 Init Cypress
  .github/workflows/end_to_end_tests.yml
  README.md
  frontend/cypress.config.ts
  frontend/cypress/e2e/1-getting-started/todo.cy.js
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
Labels: backend, frontend, testing

#126 login & signup
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/controllers/userController.ts
  backend/src/models/User.test.ts
  backend/src/routes/v1.ts
  backend/src/routes/v1/user.ts
  backend/src/services/AccountManager.ts
  backend/src/services/IAccountManager.ts
  backend/src/services/auth.ts
  infra/backend/.terraform.lock.hcl
  infra/backend/ecs.tf
  infra/backend/iam.tf
  infra/backend/main.tf
  infra/backend/secretmanager.tf
Labels: backend

#127 Fixes for auth
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20221115103552_remove_name/migration.sql
  backend/prisma/migrations/20221116173627_make_username_unique/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/userController.test.ts
  backend/src/controllers/userController.ts
  backend/src/middlewares/authenticationHandler.test.ts
  backend/src/middlewares/authenticationHandler.ts
  backend/src/middlewares/validationResultHandler.ts
  backend/src/models/IUser.ts
  backend/src/models/Poll.ts
  backend/src/models/User.test.ts
  backend/src/models/User.ts
  backend/src/routes/v1.ts
  backend/src/routes/v1/poll.test.ts
  backend/src/routes/v1/poll.ts
  backend/src/routes/v1/user.ts
  backend/src/services/AccountManager.test.ts
  backend/src/services/AccountManager.ts
  backend/src/services/Auth.test.ts
  backend/src/services/Auth.ts
  backend/src/services/IAccountManager.ts
  backend/src/services/UserManager.ts
  backend/src/services/auth.ts
  backend/src/types/express/index.d.ts
  backend/src/utils/populate-db.ts
  backend/src/utils/prismaHandler.test.ts
  backend/src/utils/responses.ts
  backend/tsconfig.json
  backend/tsconfig.production.json
Labels: backend

#133 Set favicon & other icons as correct ones
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/mstile-150x150.png
  frontend/public/safari-pinned-tab.svg
  frontend/public/site.webmanifest
Labels: frontend

#139 Organize routes better
  backend/src/middlewares/authenticationHandler.test.ts
  backend/src/middlewares/authenticationHandler.ts
  backend/src/routes/v1/poll.ts
  backend/src/routes/v1/poll/admin.ts
  backend/src/routes/v1/poll/public.ts
  backend/tsconfig.json
  backend/tsconfig.production.json
Labels: backend

#138 Route poll creator to result page with unique poll id
  frontend/src/components/App.tsx
  frontend/src/components/PollCreation.tsx
  frontend/src/components/__tests__/PollCreation.test.tsx
  frontend/src/services/pollService.ts
Labels: frontend
